@using GetCities.Classes
@model List<CityInfo>
@{
    ViewBag.Title = "Cities";
}

<h2>Cities</h2>

<p>@Model</p>

@foreach (CityInfo info in Model)
{
    <p>@info.cityName</p>
    <p>@info.cityUrl</p>
    <hr />
}