@model string
@{
    ViewBag.Title = "Cities";

    if (string.IsNullOrEmpty(Model))
    {
        Response.Redirect(Url.Action("Index"));
    }
}

<h2>Cities</h2>
<h3>You requested cities from this link: @Model</h3>
<h3 id="disclaimer">Loading list of cities. Please, be patient.</h3>

<div id="cities"></div>

<script>
    $.getJSON('http://localhost:50159/Home/GetJsonData/', { url: "@Model" }, function (data) {

        var list = $("#cities").append('<ul></ul>').find('ul');
        for (var i = 0; i < data.length; i++)
            {

            list.append('<li><a href="https://www.gismeteo.ua' + data[i].cityUrl + '">' + data[i].cityName + '</a></li>');
        }

        $('#disclaimer').remove();

    })



</script>